In [19]:
from kafka import KafkaProducer

In [20]:
from time import sleep
import json
from datetime import datetime

In [90]:
import csv

In [26]:
import pandas as pd

In [27]:
df= pd.read_csv('test1.csv')

In [28]:
len(df)

6

In [29]:
df

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [134]:
producer = KafkaProducer(bootstrap_servers='localhost:9092',value_serializer=lambda v: json.dumps(v).encode('utf-8'))

In [137]:
with open('test1.csv') as file:
    
    reader = csv.DictReader(file, delimiter=',')
    for row in reader:
        producer.send(topic='csv-python', value=row)
        sleep(2)
        print('message sent ',row)

message sent  {'Name': 'Krish', 'age': '31', 'Experience': '10', 'Salary': '30000'}
message sent  {'Name': 'Sudhanshu', 'age': '30', 'Experience': '8', 'Salary': '25000'}
message sent  {'Name': 'Sunny', 'age': '29', 'Experience': '4', 'Salary': '20000'}
message sent  {'Name': 'Paul', 'age': '24', 'Experience': '3', 'Salary': '20000'}
message sent  {'Name': 'Harsha', 'age': '21', 'Experience': '1', 'Salary': '15000'}
message sent  {'Name': 'Shubham', 'age': '23', 'Experience': '2', 'Salary': '18000'}